<!-- Boton agregar inscripcion -->
<div class="m-3">
    <button (click)="abrirFormABMInscripcion()" color="primary" mat-flat-button>
      <mat-icon>add</mat-icon>
      Crear nueva inscripción
    </button>
  </div>
  

<p *ngIf="(state$ |async)?.loading; else ifNotLoading">Cargando data ...</p>
<ng-template #ifNotLoading>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-3">

        <!-- idCurso Column -->
        <ng-container matColumnDef="idInscripcion">
            <th mat-header-cell *matHeaderCellDef> Id del Curso </th>
            <td mat-cell *matCellDef="let inscripcion"> {{inscripcion.id}} </td>
        </ng-container>

        <!-- Name Curso Column -->
        <ng-container matColumnDef="idCurso">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let inscripcion"> {{inscripcion.idCurso}}</td>
        </ng-container>

        <!-- Cant Alumnos Inscrip Column -->
        <ng-container matColumnDef="idAlumno">
            <th mat-header-cell *matHeaderCellDef> Alumno </th>
            <td mat-cell *matCellDef="let inscripcion"> {{inscripcion.idAlumno}}</td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
        
        
        
              <ng-container>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
        
                 
        
                  <!-- Sólo la ven los admin -->
                  <button (click)="eliminarInscripcionPorId(element)" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
        
              
        
                </mat-menu>
              </ng-container>
        
        
        
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ng-template>