<p *ngIf="(state$ |async)?.loading; else ifNotLoading">Cargando data ...</p>
<ng-template #ifNotLoading>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 m-3">

        <!-- idCurso Column -->
        <ng-container matColumnDef="idCurso">
            <th mat-header-cell *matHeaderCellDef> Id del Curso </th>
            <td mat-cell *matCellDef="let curso"> {{curso.id}} </td>
        </ng-container>

        <!-- Name Curso Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let curso"> {{curso.nombre}}</td>
        </ng-container>

        <!-- Cant Alumnos Inscrip Column -->
        <ng-container matColumnDef="cantAlumnos">
            <th mat-header-cell *matHeaderCellDef> Cantidad de alumnos Inscriptos </th>
            <td mat-cell *matCellDef="let curso"> Numero de cant de alumnos </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
        
        
        
              <ng-container>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
        
                 
        
                  <!-- Sólo la ven los admin -->
                  <button (click)="eliminarInscripcionPorId(element)" mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Eliminar</span>
                  </button>
        
                  <!-- Es la única que ven los user -->
                  <!-- También la ven los admin -->
        
                  <button (click)="detalleAlumnosInscriptos()" mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>Listado de alumnos</span>
                  </button>
        
                </mat-menu>
              </ng-container>
        
        
        
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</ng-template>