<section>
  <h1 style="color: white; text-align: center;" class="p-5">Iniciar sesión</h1>

  <div class="mb-3">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input [formControl]="emailControl" placeholder="email" matInput />
        <!-- Agregar mensajes de error -->
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input [formControl]="contraseniaControl" placeholder="contraseña" matInput type="password" />
        <!-- Agregar mensajes de error -->

      </mat-form-field>
      <br>

      <button mat-flat-button color="primary" type="submit">Ingresar</button>
    </form>

  </div>

</section>