<section>
  <h1 style="color: white; text-align: center;" class="p-5">Iniciar sesión</h1>

  <div class="mb-3">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">

      <div>
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input [formControl]="emailControl" placeholder="email" matInput />
            <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input [formControl]="passwordControl" placeholder="contraseña" matInput type="password" />
            <mat-error *ngIf="passwordControl.invalid">Mínimo {{minLength}} caracteres</mat-error>

          </mat-form-field>
        </div>
        <div>
          <button mat-flat-button color="primary" type="submit">Ingresar</button>

        </div>


      </div>

    </form>

  </div>

</section>