.mat-mdc-list-item-icon {
    color: rgba(251, 251, 251, 0.865);
    right: 0;
}

.item {
    width: 85%;
    right: 0;
    margin-left: 3px;
    display: inline;
}

.icon{
    display: inline;
    margin-left: 85%;
}