<h2 mat-dialog-title>Datos del curso </h2>

<div mat-dialog-content>
  <form [formGroup]="registerForm">

    <div>
      <mat-form-field [formGroup]="registerForm" appearance="fill">
        <mat-label>Nombre</mat-label>

        <input [formControl]="cursoControl" matInput>
        <mat-error *ngIf="cursoControl.invalid">Minimo {{minLength}} caracteres</mat-error>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field [formGroup]="registerForm" appearance="fill">
        <mat-label>Duracion (semanas)</mat-label>

        <input [formControl]="duracionControl" matInput type="number">
        <mat-error *ngIf="duracionControl.invalid">Minimo {{minDuracion}} carater</mat-error>

        <mat-icon matSuffix></mat-icon>
      </mat-form-field>
    </div>

    <div>



      <mat-form-field [formGroup]="registerForm" appearance="fill">
        <mat-label>Docente a cargo</mat-label>

        <mat-select [formControl]="docenteControl" [(ngModel)]="selectedValue" name="docente">
          <mat-option *ngFor="let docente of listaDocentes" [value]="docente.id">
            {{docente.nombre}} {{docente.apellido}}
          </mat-option>

        </mat-select>
        <mat-icon matSuffix></mat-icon>


      </mat-form-field>
    </div>



    <div mat-dialog-actions>
      <button (click)="cerrarDialog()" mat-button>
        Cancelar
      </button>

      <button (click)="guardar()" mat-raised-button color="primary">
        Guardar
      </button>

    </div>


  </form>

</div>